@import 'src/variables.scss';

:host {
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  background-color: $color-2;
  border: 2px solid $color-6;
  transition-duration: 0.2s;
  border-radius: 5px;
  cursor: pointer;
}

:host:hover {
  background-color: $color-5;
  color: $color-text-secundary;
}

:host:active {
  background-color: $color-3;
}

p {
  cursor: inherit;
}
