@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import 'src/variables.scss';

body,
input,
textarea,
button {
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: $color-1;
  color: $color-text;
}

.fs {
  margin: 0;
  height: 100%;
}
