<!-- <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a> -->

<div class="menu">
  <app-button class="menu-button">{{ 'Pages.Home.ImportGame' | translate }}</app-button>
  <app-button class="menu-button">{{ 'Pages.Home.LoadGame' | translate }}</app-button>
</div>
<p class="credits">
  This app was made possible using <a href="https://github.com/maximegris/angular-electron"
    target="_blank">angular-electron</a>, a Github project from <a href="https://github.com/maximegris"
    target="_blank">Maxime GRIS</a>
</p>
