@import 'src/variables.scss';

:host {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu {
  display: grid;
  grid-gap: 10px 10px;
  justify-content: center;
}

.menu-button {
  width: 200px;
  height: 50px;
}

.credits {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.8;
}
